
<div class="main-content">
    <div class="card card-ext">
        <div class="row">
            <div class="col-3 pr-0 border-right">
                <div class="card p-3 border-0 text-center bg-transparent">
                    <div class="d-flex mx-auto my-3 avatar-border border-1">
                        <div id="avatar_loading" class="spinner-border text-primary d-none"></div>
                        <img id="user_avatar" class="avatar" alt="avatar">
                    </div>
                    <h6 class="mt-3 mb-1">
                        <b id="user_name"></b>
                    </h6>
                    <div class="d-flex mx-auto mt-2">
                        <a style="cursor: default;" class="btn btn-sm bg-purple-low text-purple px-3 rounded-pill"><i class="fas fa-badge-check mr-2"></i><small id="user_level"></small></a>
                    </div>
                </div>
                
                <div class="card mt-3 mb-5 border-0 bg-transparent">
                    <div class="d-flex pl-3 mb-2"><button id="menu_personal" style="width: 100%;" type="button" class="btn py-2 px-3 mr-2 link rounded text-left active"><i class="fas fa-user mr-3"></i> Personal</button><div class="line-active bg-purple"></div></div>
                    <div class="d-flex pl-3 mb-2"><button id="menu_calendar" style="width: 100%;" type="button" class="btn py-2 px-3 mr-2 link rounded text-left"><i class="fa-solid fa-calendar mr-3"></i>Calendar</button><div class="line-active"></div></div>
                </div>

            </div>
            <div class="col-9 pl-0">
                <h5 class="px-3 mt-3 mb-5">Details</h5>
                <div id="personal-container" style="display: block;">
                    <h6 class="px-3 my-3">Personal</h6>
                    
                    <div class="card p-3 border-0 bg-transparent">
                        <div id="alertcopy"></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                <input id="data_firstname" type="text" class="form-control profileform border-0" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                <input id="data_lastname" type="text" class="form-control font-italic profileform border-0" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Username</label>
                                <input id="data_username" type="text" class="form-control profileform border-0" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input id="data_email" type="text" class="form-control font-italic profileform border-0" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="calendar-container" style="display: none;">
                    <h6 class="px-3 my-3">Calendar</h6>
                    
                    <div class="card p-3 border-0 bg-transparent">
                        <div class="card mt-3 pt-3" >
                            <div id="calendar-view" style="width: 100% !important; height: 100px !important;"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>