
html, body {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100% !important;
}

*:not(.dataTables_scrollBody)::-webkit-scrollbar {
    display: none !important;
}

table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:after,
table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_desc_disabled:before {
    content: '' !important;
}

.fc-daygrid-event {
    border-radius: 6px;
    padding: 4px !important;
    cursor: pointer !important;
}

.fc-daygrid-event:hover {
    filter: brightness(90%) !important;
}

input::placeholder {
    color:#c0c3d1 !important;
    font-size: 12px !important;
}

header:hover div .bottom #darkmode {
    display: block !important;
}

#darkmode:hover .fa-moon, #darkmode:hover .fa-moon {
    color: #5537ab !important;
}

#darkmode:hover .fa-sun {
    color: #dba400 !important;
}

.input-group-sm>.custom-select, .input-group-sm>.form-control, .input-group-sm>.input-group-append>.btn, 
.input-group-sm>.input-group-append>.input-group-text, .input-group-sm>.input-group-prepend>.btn, 
.input-group-sm>.input-group-prepend>.input-group-text {
    border-color: #e1e6ee !important;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    border-color: #e1e6ee !important;
    border-radius: 8px !important;
}

.daterangepicker.single .drp-calendar.left {
    display: flex !important;
    padding: 6px !important;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    width: 80px !important;
    margin: 0 auto;
    background: #f6f2ff !important;
    border: 1px solid #e1e6ee !important;
    padding: 12px !important;
    outline: 0;
    font-size: 16px !important;
    border-radius: 8px;
}

.splide__pagination li {
    display: none !important;
}

.btn-danger {
    background-color: #F53B7E !important;
    color: white !important;
}

.btn-danger:hover{
    background-color: #ca2a65 !important;
}

.btn-danger:disabled:hover {
    background-color: #F53B7E !important;
}

.alert-danger{
    background-color: #ffe8f0 !important;
    color: #F53B7E !important;
    border: solid 1px #ff9fc2 !important;
}

.alert-dismissible .close:hover {
    color: #F53B7E !important;
}

* {
    scrollbar-width: none; /* Firefox implementation */
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

.swal2-styled.swal2-confirm {
    background-color: #7854de !important;
    border-radius: 8px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    font-size: 14px !important;
}

.swal2-styled.swal2-cancel {
    background-color: #F53B7E !important;
    border-radius: 8px !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    font-size: 14px !important;
}

body {
    height: 100%;
    font-size: 11px !important;
    overflow-x: scroll;
}

* {
    font-family: "Poppins", sans-serif;
}

.daterangepicker {
    border-radius: 8px !important;
    box-shadow: none !important;
}

@media (max-width: 480px) {
    .daterangepicker {
        width: 94% !important;
    }
    .daterangepicker.show-calendar .ranges {
        text-align: center !important;
        border-bottom: solid #ddd 1px !important;
        padding-bottom: 12px !important;
    }
    .daterangepicker .drp-calendar {
        max-width: none !important;
    }
    .daterangepicker .drp-calendar.left {
        border: none !important;
    }
    .daterangepicker .drp-buttons .btn {
        padding: 6px 32px !important;
    }

    .daterangepicker.ltr.show-ranges.show-calendar.opensleft{
        left: 12px !important;
    }
}

.daterangepicker::before {
    display: none !important;
    padding: 0px !important;
    border: 0px !important;
}

.daterangepicker::after {
    display: none !important;
    padding: 0px !important;
    border: 0px !important;
}

.daterangepicker .drp-buttons .btn {
    padding: 4px 16px !important;
    border-radius: 8px !important;
}


/* TABLE CUSTOM */
table thead tr td {
    font-weight: 800 !important;
}

table.dataTable tr td {
    white-space: nowrap !important;
    overflow: hidden !important;
}

thead tr td {
    border-bottom: solid .5px #e1e6ee !important;
}

tbody tr td:first-child, thead tr td:first-child {
    padding-left: 15px !important;
}

tbody tr td:last-child, thead tr td:last-child {
    padding-right: 15px !important;
}

tbody tr td:last-child.dtfc-fixed-right, thead tr:first-child td:last-child.dtfc-fixed-right, thead tr:last-child td:last-child.dtfc-fixed-right {
    background-color: white !important;
    border-left: solid 1px #e1e6ee !important;
}

.table td, .table th {
    border-color: #e1e6ee !important;
}

.border-top, .border-left, .border-right, .border-bottom {
    border-color: #e1e6ee !important;
}

.fc .fc-toolbar.fc-header-toolbar {
    padding: 0px 9px 0px 9px !important;
}

.fc-prev-button, .fc-dayGridMonth-button {
    border-radius: 8px 0px 0px 8px !important;
}

.fc-next-button, .fc-timeGridDay-button {
    border-radius: 0px 8px 8px 0px !important;
}

.fc-today-button {
    border-radius: 8px !important;
}

#calendar-view > div.fc-view-harness.fc-view-harness-active > div > table > tbody > tr > td:last-child, 
#calendar-view > div.fc-view-harness.fc-view-harness-active > div > table > thead tr td:last-child {
    padding-right: 0px !important;
}

#calendar-view > div.fc-view-harness.fc-view-harness-active > div > table > tbody > tr > td:first-child, 
#calendar-view > div.fc-view-harness.fc-view-harness-active > div > table > thead tr td:first-child {
    padding-left: 0px !important;
}

#calendar-view > div.fc-view-harness.fc-view-harness-active > div > table > tbody > tr > td, 
#calendar-view > div.fc-view-harness.fc-view-harness-active > div > table > thead tr td {
    border: 0px !important;
}

#calendar-view > div.fc-view-harness.fc-view-harness-active > div > table.fc-scrollgrid.table-bordered.fc-scrollgrid-liquid {
    border: 0px !important;
}

table.fc-col-header > thead > tr > th {
    border-bottom-width: 1px !important;
}

table.fc-col-header > thead > tr > th:last-child {
    border-right: 0px !important;
}

.fc .fc-scrollgrid-section>* {
    border-top-width: 1px !important;
    border-right-width: 0px !important;
}

table.fc-scrollgrid-sync-table tbody tr td:last-child, table.fc-scrollgrid-sync-table thead tr td:last-child {
    padding-right: 0px !important;
}

table.fc-scrollgrid-sync-table tbody tr td:first-child, table.fc-scrollgrid-sync-table thead tr td:first-child{
    padding-left: 0px !important;
}

/* END TABLE */


/*CUSTOM CSS*/

.text-secondary {
    color: #8f97ab !important;
}

.card {
    border-radius: 12px !important;
    border-color: #e1e6ee !important;
}

.card-ext {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), url(../images/card-ext.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 600px !important;
    background-position-y: top !important;
    background-position-x: right !important;

}

.avatar {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.avatar-border {
    background-color:#f6f2ff;
    border-radius: 50%;
    padding: 10px;
}

.user-profile {
    font-size: 13px !important;
}

.profile-about {
    background-color: #eef7ff;
    font-size: 12px;
}

.rounded {
    border-radius: 8px !important;
}

.text-purple {
    color: #7854de !important;
}

.card-placeholder {
    background: #c3adff !important;
    border-radius: 8px !important;
}

.swal2-close {
    margin-bottom: 0em !important;
    border-radius: 8px !important;
}

a {
    color: inherit;
    text-decoration: none;
}

button:hover a {
    color: #7854de;
    text-decoration: none;
}

button > div:hover {
    color: #7854de !important;
}

button > .dropdown > ul > li > a:hover {
    color: #7854de !important;
    text-decoration: none !important;
}

small a {
    color: dodgerblue;
    text-decoration: none;
}
small a:hover {
    color: #7854de;
    text-decoration: none;
}

.btn-purple {
    background-color: #7854de !important;
    border: solid 1px #7854de !important;
    color: white;
    border-radius: 8px !important;
}

.btn-purple:disabled {
    background-color: grey !important;
    color: white;
    border: solid 1px grey !important;
    border-radius: 8px !important;
}

.btn-purple:hover {
    background-color: #5537ab !important;
    color: white;
    border-radius: 8px !important;
}

.btn-outline-purple {
    color: #5537ab;
    background-color: #d9ccff;
}

.btn-outline-danger {
    color: #F53B7E !important;
    background-color: #fdcedf !important;
}

.btn-outline-success {
    color: rgb(36, 173, 71) !important;
    background-color: rgb(186, 248, 205) !important;
}

.btn-outline-primary {
    color: #557aff !important;
    background-color: #c6dcff !important;
}

.bg-purple-low {
    background-color: #f6f2ff !important;
}

.bg-purple {
    background-color: #7854de !important;
}

.bg-danger {
    background-color: #f53b7e !important;
}

.badge-danger {
    background-color: #f53b7e !important;
}

.text-danger {
    color: #f53b7e !important;
}

button.link {
    color: #8f97ab;
}

button.link:hover {
    background-color: #f6f2ff !important;
    color: #7854de !important;
}

button.link.active {
    background-color: #f6f2ff !important;
    color: #7854de !important;
}

button.link:focus, button.link:active {
    outline: none !important;
    box-shadow: none !important;
}

.card .line-active {
    padding: 2px;
    margin-left: 3px;
    border-radius: 8px 0px 0px 8px;
}

.menu .menu-active {
    padding: 2px;
    margin-top: 4px;
    border-radius: 8px 8px 0px 0px;
    width: 70%;
}

input[type="text"].profileform {
    border-color: none !important;
    background-color: #f6f2ff;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 8px !important;
}
textarea.profileform {
    border-color: none !important;
    background-color: #f6f2ff;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 8px !important;
}
input[type='text'].profilefield {
    border-color: none !important;
    background-color: #f6f2ff !important;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 8px 0px 0px 8px !important;
    border-right: none !important;
}
button.profileicon {
    border-color: none !important;
    background-color: #f6f2ff !important;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 0px 8px 8px 0px !important;
    border-left: none !important;
    color: #8f71dc;
}

button.profileicon:hover {
    color: #5f40ad;
}

input[type="text"].specialform {
    border-color: #e1e6ee !important;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 8px !important;
}

input[type="number"].specialform {
    border-color: #e1e6ee !important;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 8px !important;
}

input[type="email"].specialform {
    border-color: #e1e6ee !important;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 8px !important;
}

input[type="password"].specialform {
    border-color: #e1e6ee !important;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 8px !important;
}

input[type="date"].specialform {
    border-color: #e1e6ee !important;
    font-size: 12px !important;
    height: 40px !important;
    border-radius: 8px !important;
}

input[type="time"].specialform {
    border-color: #e1e6ee !important;
    font-size: 12px !important;
    height: 40px !important;
    border-radius: 8px !important;
}

input[type="datetime-local"].specialform {
    border-color: #e1e6ee !important;
    font-size: 12px !important;
    height: 40px !important;
    border-radius: 8px !important;
}

input[type="file"].specialform {
    border-color: #e1e6ee !important;
    font-size: 12px !important;
    height: 40px !important;
    border-radius: 8px !important;
    align-items: center !important;
}

.specialform.disabled {
    height: 40px !important;
    border-radius: 8px !important;
    align-items: center !important;
    background-color: white !important;
}
button.specialform {
    height: 40px !important;
    border-radius: 8px !important;
    align-items: center !important;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px !important;
    padding: .55rem .75rem;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e1e6ee !important;
    border-radius: 8px !important;
    align-items: center !important;
    margin-bottom: 12px !important;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 40px !important;
    padding: .55rem .75rem;
    line-height: 1.5;
    color: #7854de;
    font-family:"Font Awesome 6 Pro";
    content: "\f07b";
    background-color: #fff;
    border-left: inherit;
    border-radius: 0 8px 8px 0 !important;
    align-items: center !important;
}

textarea.specialform {
    border-color: #e1e6ee !important;
    font-size: 12px !important;
    border-radius: 8px !important;
}

input.inputfield {
    border-color: #e1e6ee !important;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 0px 8px 8px 0px !important;
    border-left: none !important;
    background-color: white !important;
}
button.iconfield {
    border-color: #e1e6ee !important;
    font-size: 13px !important;
    height: 40px !important;
    border-radius: 8px 0px 0px 8px !important;
    border-right: none !important;
    color: #abb1b8 !important;
    background-color: white !important;
}

.select2-container .select2-selection--single {
    border-color: #e1e6ee !important;
    font-size: 12px !important;
    height: 40px !important;
    border-radius: 8px !important;
}

.select2-dropdown--above {
    border: 1px solid #e1e6ee !important;
    border-bottom: none !important;
}

.select2-dropdown--below {
    border: 1px solid #e1e6ee !important;
    border-top: none !important;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-radius: 8px !important;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 8px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 2px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 4px;
}

.select2-container.select2-container--open.select2-container--above .select2-selection--single[aria-expanded="true"] {
    border-radius: 0px 0px 8px 8px !important;
}

.select2-container.select2-container--open.select2-container--below .select2-selection--single[aria-expanded="true"] {
    border-radius: 8px 8px 0px 0px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da !important;
}

.input-group .select2-container .select2-selection--single {
    border-color: #e1e6ee !important;
    font-size: 12px !important;
    height: 40px !important;
    border-radius: 0px 8px 8px 0px !important;
}
.input-group .select2-container.select2-container--open.select2-container--above .select2-selection--single[aria-expanded="true"] {
    border-radius: 0px 0px 8px 0px !important;
}

.input-group .select2-container.select2-container--open.select2-container--below .select2-selection--single[aria-expanded="true"] {
    border-radius: 0px 8px 0px 0px !important;
}

.select2-container .select2-selection--multiple {
    border-color: #e1e6ee !important;
    font-size: 12px !important;
    min-height: 40px !important;
    border-radius: 8px !important;
}

.select2-container.select2-container--open.select2-container--above .select2-selection--multiple[aria-expanded="true"] {
    border-radius: 0px 0px 8px 8px !important;
}

.select2-container.select2-container--open.select2-container--below .select2-selection--multiple[aria-expanded="true"] {
    border-radius: 8px 8px 0px 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f6f2ff;
    border: 1px solid #e1e6ee;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 4px;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #e1e6ee;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #7854de;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
    position: absolute;
    left: 0;
    top: 0;
}

select.specialform {
    border-color: #e1e6ee !important;
    font-size: 12px !important;
    height: 40px !important;
    border-radius: 8px !important;
}

hr {
    border-color: #e1e6ee !important;
}

label {
    font-size: 13px !important;
}

span.help-block {
    font-size: 11px;
    color: #F53B7E;
}

.btn {
    font-size: 13px !important;
}

td {
    vertical-align: middle !important;
}

.font-grey {
    color: #343a40;
}

.font-purple {
    color: #7854de;
}

.paging_simple_numbers a {
    color: #7854de;
    padding: 0 5px;
}

.paging_simple_numbers span a {
    border: 1px solid #7854de;
    font-size: 12px;
    padding: 6px 12px;
    margin-left: 3px;
}
.paging_simple_numbers span a:first-child {
    margin-left: 0;
}

.daterangepicker, .daterangepicker .drp-buttons, .daterangepicker.show-ranges.ltr .drp-calendar.left, 
.daterangepicker.show-ranges.ltr .drp-calendar.right, .daterangepicker .calendar-table {
    border-color: #e1e6ee !important;
}

.daterangepicker .drp-calendar.right {
    padding-left: 0px !important;
}

.daterangepicker td.in-range {
    background-color: #f6f4fa;
}

.applyBtn {
    background-color: #7854de;
    border: 1px solid #7854de;
}

.applyBtn:hover {
    background-color: #593ea1;
    border: 1px solid #593ea1;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #7854de;
}

.daterangepicker .ranges li.active {
    background-color: #7854de;
    color: #fff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #7854de;
}

header {
    width: 60px;
    position: relative;
    z-index: 99;
}
header .absolute {
    content: "";
    position: absolute;
    background-color: #1d2436;
    width: calc(100vw - 0px);
    height: 100vh;
    z-index: 1;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    visibility: hidden;
    opacity: 0;
}
header .max-height {
    height: 100vh;
    z-index: 1;
    position: fixed;
    border-right: solid 1px #e1e6ee;
    background-color: #fff;
    position: relative;
    -webkit-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 60px;
}
header .top {
    overflow: scroll;
    height: calc(100% - 170px);
    z-index: 200;
}
header .bottom {
    overflow: auto;
    z-index: 200;
}

header .logo {
    width: 100%;
    background: transparent;
    border: none;
    height: auto;
}

header .logo.text-purple {
    background: #f6f2ff !important;
    padding-top: 12px !important;
    padding-left: 2px !important;
    border-left: solid 4px #7854de !important;
}

header .logo img {
    width: 50px;
    height: 50px;
}
header .logo p {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    white-space: pre;
    width: 100%;
    text-align: left;
}

header:hover .max-height {
    width: 232px;
}
header:hover .absolute {
    visibility: visible;
    opacity: 0.6;
}
header:hover p {
    visibility: visible;
    opacity: 1;
}
header:hover .dropdown {
    opacity: 1;
}
header:hover .arrow-bottom {
    opacity: 1;
}
header .absolute:hover ~ .max-height {
    width: 60px;
}
header .absolute:hover {
    visibility: hidden;
    opacity: 0;
}

.main-content {
    background: #f0f2f6;
    width: calc(100% - 60px);
    height: 100vh;
    padding: 24px;
    overflow: scroll;
}

input:focus, input.form-control:focus, select:focus, select.form-control:focus  {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.main-content .content {
    margin-top: 24px;
}

.popup-prospek {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background: rgba(8, 10, 15, 0.8);
    padding: 80px;
    z-index: 100;
    display: none;
}
.popup-prospek-box {
    background: #fff;
    border: solid 1px #e1e6ee;
    border-radius: 12px;
    width: 790px;
    margin: 0 auto;
    padding: 40px;
    position: relative;
}
.popup-prospek-box .close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}
.popup-prospek-box .close button {
    background: transparent;
    border: none;
    padding: 6px 10px !important;

}

.close button {
    background: transparent;
    border: none;
    padding: 6px 10px !important;
}
.close button:hover {
    background: #f6f2ff !important;
    border: none;
    padding: 6px 10px !important;
    border-radius: 8px !important;
    color: #7854de !important;
}

.swal2-image {
    border-radius: 12px !important;
    margin-bottom: 0px !important;
}

.swal2-popup {
    border: solid 1px #e1e6ee !important;
    border-radius: 8px !important;
}

.swal2-close {
    outline: none !important;
    box-shadow: none !important;
}

.swal2-close:hover {
    background: #f6f2ff !important;
    border-radius: 8px !important;
    color: #7854de !important;
}

.popup-prospek-box .close button img {
    width: 20px;
}
.popup-prospek-box .title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #000;
    margin-bottom: 32px;
}
.popup-prospek-box form .grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.popup-prospek-box form .grid .item button {
    margin-top: 10px;
    padding: 12px 30px;
    background: #7854de;
    border-radius: 8px;
    border: none;
    font-size: 13px;
    line-height: 19px;
    color: #fff;
    font-weight: 500;
}

.login-content {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url("../images/background.svg");
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px;
}
.login-content .background {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 640px;
    height: 100%;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 12px;
}

@media only screen and (max-device-width: 512px){
    .login-content .background {
        height: 60%;
    }
    .login-content {
        padding: 10px !important;
    }
}

.login-content .background .logo {
    top: 80px;
    left: 150px;
}
.login-content .background .logo img {
    width: 250px;
}
.login-content .background form {
    width: 340px;
}
.login-content .background form h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #1d2436;
    margin-bottom: 18px;
}
.login-content .background form label {
    font-size: 12px;
    line-height: 18px;
    color: #858c9d;
    margin-bottom: 10px;
}
.login-content .background form p input#id_login, .login-content .background form p input#id_password {
    width: 100%;
    position: relative;
    padding: 12px 16px;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #e1e6ee;
    margin-bottom: 16px;
}

.login-content .background form p input#id_remember {
    width: 15px;
    margin-left: 8px;
    border: 1px solid #e1e6ee !important;
    outline: none !important;
}

.login-content .background form p input#id_login:focus, .login-content .background form p input#id_password:focus {
    border: 1px solid #7854de;
}

.login-content .background form p input:not([type="checkbox"]) {
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 13px;
    line-height: 19px;
    color: #1d2436;
    font-weight: 500;
}

.login-content .background form .masuk {
    width: 100%;
    background: #7854de;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 13px;
    line-height: 19px;
    font-weight: 200;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 34px;
}

.login-content .background form .google {
    width: 100%;
    border-radius: 8px;
    border: none;
    font-size: 13px;
    line-height: 19px;
    font-weight: 200;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 34px;
}

.login-content .background form .google:hover {
    background-color: #dfd1ff !important;
}
