<div class="popup-prospek" id="add-location" style="z-index: 150">
    <div class="popup-prospek-box">
        <div class="close mt-3 mr-2">
            <button id="close_location"> 
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="title">Add New Location</div>
        <form  action="" enctype="multipart/form-data">
            <div class="grid">
                <div>
                    <label for="city">City</label>
                    <input id="city" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="area">Area </label>
                    <input id="area" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="site">Site </label>
                    <input id="site" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="address">Address </label>
                    <input id="address" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="description">Description </label>
                    <textarea id="description" type="text" class="form-control specialform"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button style="width:100%;" class="btn btn-purple py-2 mt-5" type="button" id="save_location">Save Location</button> 
                </div>
            </div>

        </form>
    </div>
</div> 