<div class="popup-prospek" id="update-location" style="z-index: 150">
    <div class="popup-prospek-box">
        <div class="close mt-3 mr-2">
            <button id="close_update_location"> 
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="title">Update Location</div>
        <form  action="" enctype="multipart/form-data">
            <input type="text" class="form-control specialform" id="eid" hidden>
            <div class="grid">
                <div>
                    <label for="ecity">City</label>
                    <input id="ecity" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="earea">Area </label>
                    <input id="earea" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="esite">Site </label>
                    <input id="esite" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="eaddress">Address </label>
                    <input id="eaddress" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="edescription">Description </label>
                    <textarea id="edescription" type="text" class="form-control specialform"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button style="width:100%;" class="btn btn-purple py-2 mt-5" type="button" id="update_location">Update Location</button> 
                </div>
            </div>

        </form>
    </div>
</div> 