<div class="main-content">
    <div class="content mt-0">
        <div class="card card-ext pt-3">
            <div class="d-flex px-3 mt-1">
                <h5 class="pt-2"><i class="fa-solid fa-note text-purple mr-3"></i>Pettycash Transaction</h5>
            </div>
            <div class="mt-3">
                <div class="d-flex px-3 mb-3">
                    <div class="input-group mr-auto" style="width: 350px !important;">
                        <div class="input-group-prepend">
                            <button class="btn iconfield"><i class="fa-regular fa-search"></i></button>
                        </div>
                        <input id="transaction_search" type="text" class="form-control inputfield" placeholder="Search ...">
                    </div>
                    <button id="add_transaction" class="btn btn-purple px-3 rounded">
                        <i class="fa-regular fa-plus mr-2"></i>Add Transaction
                    </button>
                </div>
                <table id="tb_transaction" class="table display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <td>No</td>
                            <td>Date</td>
                            <td>Amount</td>
                            <td>Description</td>
                            <td>Type</td>
                            <td>Account</td>
                            <td>Category</td>
                            <td>User</td>
                            <td>Location</td>
                            <td>Receipt</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>