<div class="popup-prospek" id="add-account" style="z-index: 150">
    <div class="popup-prospek-box">
        <div class="close mt-3 mr-2">
            <button id="close_account"> 
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="title">Add New Account</div>
        <form  action="" enctype="multipart/form-data">
            <div class="grid">
                <div>
                    <label for="account_name">Name</label>
                    <input id="account_name" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="account_balance">Balance </label>
                    <input id="account_balance" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="account_description">Description </label>
                    <textarea id="account_description" type="text" class="form-control specialform"></textarea>
                </div>
                <div>
                    <label for="account_group">Group </label>
                    <select id="account_group" type="text" class="js-example-basic-single"></select>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button style="width:100%;" class="btn btn-purple py-2 mt-5" type="button" id="save_account">Save Account</button> 
                </div>
            </div>

        </form>
    </div>
</div> 