<div class="main-content">
    <div class="content mt-0">
        <div class="card pt-3">
            <div class="d-flex px-3 mt-1">
                <h5 class="pt-2"><i class="fa-solid fa-wallet text-purple mr-3"></i>Pettycash Account</h5>
            </div>
            <div class="mt-3">
                <div class="d-flex px-3 mb-3">
                    <div class="input-group mr-auto" style="width: 350px !important;">
                        <div class="input-group-prepend">
                            <button class="btn iconfield"><i class="fa-regular fa-search"></i></button>
                        </div>
                        <input id="account_search" type="text" class="form-control inputfield" placeholder="Search ...">
                    </div>
                    <button id="add_account" class="btn btn-purple px-3 rounded">
                        <i class="fa-regular fa-plus mr-2"></i>Add Account
                    </button>
                </div>
                <table id="tb_account" class="table display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <td>No</td>
                            <td>Name</td>
                            <td>Balance</td>
                            <td>Description</td>
                            <td>Group</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>