<div class="popup-prospek" id="update-account" style="z-index: 150">
    <div class="popup-prospek-box">
        <div class="close mt-3 mr-2">
            <button id="close_update_account"> 
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="title">Update Account</div>
        <form  action="" enctype="multipart/form-data">
            <input type="text" class="form-control specialform" id="eid" hidden>
            <div class="grid">
                <div>
                    <label for="ename">Name</label>
                    <input id="ename" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="ebalance">Balance </label>
                    <input id="ebalance" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="edescription">Description </label>
                    <input id="edescription" type="text" class="form-control specialform">
                </div>
                <div>
                    <label for="eaccount_group">Group </label>
                    <select id="eaccount_group" type="text" class="js-example-basic-single"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <button style="width:100%;" class="btn btn-purple py-2 mt-5" type="button" id="update_account">Update Account</button> 
                </div>
            </div>

        </form>
    </div>
</div> 